version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: bda-postgres-db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./db/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ./db/seed.sql:/docker-entrypoint-initdb.d/02-seed.sql
      - ./db/reports_vw.sql:/docker-entrypoint-initdb.d/03-reports_vw.sql
      - ./db/roles.sql:/docker-entrypoint-initdb.d/04-roles.sql
      - ./db/indexes.sql:/docker-entrypoint-initdb.d/05-indexes.sql

  frontend:
    build: ./frontend
    container_name: nextjs-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db